<div class="jumbotron">
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <h2><strong>Data Visualization Analytics</strong></h2>
            <br/>
        </div>
        <div class="col-md-6">
            <font size="4">
                <strong>Business Challenge: </strong>
                Understanding underlying trends
                and patterns in transaction data to facilitate
                easier decision making
            </font>
        </div>
        <div class="col-md-6">
            <font size="4">
                <strong>Technical Challenge: </strong>
                Explore different types of
                databases and visualizations that fits the needs
                of our design and benchmark the performances of
                different backends
            </font>
        </div>
    </div>
    <br/><br/>
    <table style="text-align: center;">
        <tr>
            <td colspan="2" style="padding: 5px;">
            <strong>Sponsored by TIAA</strong>
            </td>
        </tr>
        <tr>
            <td style="padding: 5px;">Project Manager:</td>
            <td style="padding: 5px;">Vaibhav Shah</td>
        </tr>
        <tr>
            <td style="padding: 5px;">UX & UI Design:</td>
            <td style="padding: 5px;">Yasmine El Garhi</td>
        </tr>
        <tr>
            <td style="padding: 5px;">Backend:</td>
            <td style="padding: 5px;">Ryan McGuigan</td>
        </tr>
        <tr>
            <td style="padding: 5px;">Frontend & Backend:</td>
            <td style="padding: 5px;">Youken Ikeda</td>
        </tr>
    </table>
</div>
