<div class="jumbotron">
    <h3>Visualization with Mongo</h3>
    <p>{{ tagline }}</p>
    <p>Data size: 100 cabs</p>

    <br/><br/>


    <!--
    <div class="descriptionPie"></div>
    <svg class="piechart"></svg>
    <svg id="fillgauge1" width="19%" height="200%"></div>
    -->
    <p>Percentage of people who tip</p>
    <svg id="fillgauge1" width="19%" height="200%"></svg>

    <br/><br/>

    <p>Frequency of Passenger in cab</p>
    <svg class="barchart"></svg>

    <!-- testing purpose
    <div ng-repeat="taxi in taxis">
        <h4>PC: {{taxi.passenger_count}}</h4>
    </div>
    -->
</div>
