<div class="jumbotron">
    <!--
    <div align="center">
        <div align="left" style="width: 810px;">
            <svg id="rectangularareachart1" width="400" height="240"></svg>
            <svg id="rectangularareachart2" width="400" height="240"></svg>
        </div>
        <div align="left" style="width: 810px;">
            <svg id="rectangularareachart3" width="400" height="240"></svg>
            <svg id="rectangularareachart4" width="250" height="240"></svg>
        </div>
    </div>
    -->
    <div align="center">
    <div align="left">
        <svg id="rectangularareachart1" width="100%" height="250px"></svg>
    </div>
</div>
</div>
