<div class="jumbotron">
    <form ng-submit="search()">
        <div class="row" style="background-color: white; padding: 10px;">
            <div class="col-md-2"><img src="views/images/tiaa_logo.png"/></div>
            <div class="col-md-5"></div>
            <div class="col-md-5">
                <table>
                    <tr>
                        <td style="padding: 5px;">
                            <font size="4">By Transaction Code</font>
                        </td>
                        <td style="padding: 5px;">
                            <input ng-model="TRN" type="text" class="form-control" placeholder="Search...">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <div class="row" style="background-color: #34a3d6;">
        <div class="col-md-5" style="padding-left: 20px;">
            <h2>
                <font color="white">Overview</font>
            </h2>
            <h2>
                <font color="white">${{total_cash}}</font>
                <font color="white" size="3">Cash</font>
            </h2>
            <h2>
                <font color="white">${{total_average}}</font>
                <font color="white" size="3">Average</font>
            </h2>
            <h2>
                <font color="white">{{total_transaction}}</font>
                <font color="white" size="3">Transactions</font>
            </h2>
        </div>
        <div class="col-md-7">
            <!-- line chart here -->
        </div>
    </div>

    <div class="row" style="background-color: #34a3d6;">
        <div class="col-md-12">
            <div style="background-color: #5eafd7;">
                <font size="5" color="white" style="padding: 10px;">Categories</font>
                <br/><br/>
                <div id="gauge_display" style="padding-left: 10px;">
                    <svg ng-click="select('fillgauge1')" id="fillgauge1" width="19%" height="80%"></svg>
                    <svg ng-click="select('fillgauge2')" id="fillgauge2" width="19%" height="80%"></svg>
                    <svg ng-click="select('fillgauge3')" id="fillgauge3" width="19%" height="80%"></svg>
                    <svg ng-click="select('fillgauge4')" id="fillgauge4" width="19%" height="80%"></svg>
                    <svg ng-click="select('fillgauge5')" id="fillgauge5" width="19%" height="80%"></svg>
                </div>
            </div>
        </div>
        <div class="col-md-3" style="padding-right: 0px;">
            <div style="background-color: #5eafd7;">
                <div id="infoBox" ng-show="display" style="padding: 10px;">
                    <table style="width: 100%; background-color: #f5a623;">
                        <tr style="background-color: #f6b345;">
                            <td colspan="2" style="padding: 10px; text-align: center;"><font color="white">{{category}}</font></td>
                        </tr>
                        <tr>
                            <td style="padding: 9px;"><font color="white">Total:</font></td>
                            <td style="padding: 9px;"><font color="white">${{total}}</font></td>
                        </tr>
                        <tr>
                            <td style="padding: 9px;"><font color="white">Average:</font></td>
                            <td style="padding: 9px;"><font color="white">${{average}}</font></td>
                        </tr>
                        <tr>
                            <td style="padding: 9px;"><font color="white">Maximum:</font></td>
                            <td style="padding: 9px;"><font color="white">${{max}}</font></td>
                        </tr>
                        <tr>
                            <td style="padding: 9px;"><font color="white">Minimum:</font></td>
                            <td style="padding: 9px;"><font color="white">${{min}}</font></td>
                        </tr>
                        <tr>
                            <td style="padding: 9px;"><font color="white">Transaction:</font></td>
                            <td style="padding: 9px;"><font color="white">{{trans}}</font></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-show="display" style="padding-left: 0px;">
            <div style="background-color: #5eafd7; height: 250px;">
                <div id="rect_display" style="padding: 10px;">
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="background-color: #34a3d6; padding-bottom: 15px;">
        <div class="col-md-3" style="padding-right: 0px;">
            <div style="background-color: #5eafd7;">
                <div id="trancodeBox" style="padding: 10px;">
                    <table style="width: 100%; background-color: #5eafd7;">
                        <tr style="background-color: #5eafd7;">
                            <td colspan="2" style="padding: 8px; text-align: center;">
                                <font size="5" color="white">Tran Code</font>
                            </td>
                        </tr>
                    </table>
                    <table id="trancodeTable" style="width: 100%;">
                        <tr ng-repeat="tran_code in tran_codes" style="background-color: #178bca;">
                            <td style="text-align: center;">
                                <a ng-click="select_tran(tran_code)">
                                    <div id="info{{tran_code.code}}" style="width: 100%; height: 100%; padding: 7px;">
                                        <font color="white">
                                            {{tran_code.code}}
                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            {{tran_code.percent}}%
                                        </font>
                                    </div>
                                </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-9" ng-show="display_tran" style="padding-left: 0px;">
            <div style="background-color: #5eafd7; height: 351px;">
                <div style="padding: 10px; padding-bottom: 8px;">
                    <table>
                        <tr>
                            <td style="padding: 8px; text-align: center; border: 1px solid #ccc;">
                                <font size="5" color="white">Activity</font>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="tran_display" style="padding: 10px; padding-top: 0px;">
                </div>
            </div>
        </div>
    </div>

    <modal visible="showModal">
        <ul class="bottom" style="list-style-type: none;">
            <li ng-repeat="trn in transactions">
                <table style="width: 50%">
                    <tr>
                        <td><font color="005597">Trade Date:</font></td>
                        <td><font color="005597">{{trn.TRADE_DATE}}</font></td>
                    </tr>
                    <tr>
                        <td><font color="005597">Category:</font></td>
                        <td><font color="005597">{{trn.CATEGORY}}</font></td>
                    </tr>
                    <tr>
                        <td><font color="005597">Subcategory:</font></td>
                        <td><font color="005597">{{trn.SUB_CATEGORY}}</font></td>
                    </tr>
                    <tr>
                        <td><font color="005597">Cash:</font></td>
                        <td><font color="005597">{{trn.CASH}}</font></td>
                    </tr>
                </table>
                <br/>
            </li>
        </ul>
    </modal>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="line-graph">
  <svg id="line-viz" width="500" height="250" style="background-color: #34a3d6; color: #FFFFFF;"></svg>
</div>
